<!DOCTYPE html>
<html>

<head>
  <meta charset="utf-8" />
  <meta http-equiv="X-UA-Compatible" content="IE=edge" />
  <meta name="viewport" content="width=device-width, initial-scale=1" />
  <link rel="stylesheet" type="text/css" media="screen" href="/static/style/main.css" />
  <script src="/static/main.js" type="module"></script>
  <script src="https://kit.fontawesome.com/4c51990d8f.js"></script>

  <!-- Primary Meta Tags -->
  <title>BiHjoGrafen</title>
  <meta name="title" content="BiHjoGrafen" />
  <meta name="description" content="Se senaste filmerna på bästa biografen i Hjo!" />

  <!-- Open Graph / Facebook -->
  <meta property="og:type" content="website" />
  <meta property="og:url" content="https://anschoolacc.github.io/Uppgift-2-En-biograf-sajt/" />
  <meta property="og:site_name" content="BiHjoGrafen" />
  <meta property="og:title" content="Boka filmer i Hjo" />
  <meta property="og:description" content="Se senaste filmerna på bästa biografen i Hjo!" />
  <meta property="og:image" content="assets\bihjografenlogo.png" />
  <meta property="og:image:alt" content="Logo for BiHjoGrafen" />

  <!-- Twitter -->
  <meta property="twitter:card" content="summary_large_image" />
  <meta property="twitter:url" content="https://anschoolacc.github.io/Uppgift-2-En-biograf-sajt/" />
  <meta property="twitter:site_name" content="BiHjoGrafen" />
  <meta property="twitter:title" content="Boka filmer i Hjo" />
  <meta property="twitter:description" content="Se senaste filmerna på bästa biografen i Hjo!" />
  <meta property="twitter:image" content="assets\bihjografenlogo.png" />
  <meta property="twitter:image:alt" content="Logo for BiHjoGrafen" />
</head>
<body>
  <header class="Header">
    <a class="Header__logo__a" href="/">
      <img class="Header__logo" src="/static/assets/bihjografenlogo.png" alt="logo of the site" /></a>
    <nav class="Header__nav">
      <ul class="Header__nav__ul">
        <li class="Header__nav__ul__li">
          <a href="/movies">Filmer</a>
        </li>
        <li class="Header__nav__ul__li"><a href="">Biljetter</a></li>
        <li class="Header__nav__ul__li">
          <a href="/aboutus">Om oss</a>
        </li>
        <li class="Header__nav__ul__li">
          <a href="/newmovies">Nya filmer</a>
        </li>
        <li class="Header__nav__ul__li">
          <input class="Header__nav__ul__li__search-input" type="text" placeholder="Search..."
          onfocus="this.placeholder = ''" 
          onblur="this.placeholder = 'Search...'"/>
          <i class="fas fa-search Header__nav__ul__li__search-icon">
          </i>
        </li>
      </ul>
    </nav>
  </header>

{{{body}}}

<footer class="footer">
    <div class="footer__container">
      <a class="footer__a" href="#about">Om oss</a>
      <a class="footer__a" href="#location">Plats</a>
      <a class="footer__a" href="#facebook">Facebook</a>
      <a class="footer__a" href="#twitter">Twitter</a>
      <a class="footer__a" href="#instagram">Instagram</a>
    </div>
  </footer>
  <template class="movieTemplate">
    <div class="movieTemplate__card">
      <div class="movieTemplate__cover"></div>
      <div class="movieTemplate__img"></div>
      <h2 class="movieTemplate__title"></h2>
      <p class="movieTemplate__ageLimit"></p>
      <p class="movieTemplate__category"></p>
      <p class="movieTemplate__description"></p>
      <button class="movieTemplate__button" type="button">
        Boka biljett
      </button>
    </div>
  </template>
  <div class="modal hidden">
    <button class="modal__close-modal">
      <i class="fa-solid fa-skull-crossbones"></i>
    </button>
    <div class="modal__select-wrapper">
      <p class="modal__p date">Date</p>
      <select name="date" class="date-list">
        <option value="2023-12-30">December 30, 2023</option>
        <option value="2023-12-31">December 31, 2023</option>
      </select>
    </div>
    <div class="modal__select-wrapper">
      <p class="modal__p time">Time</p>
      <select name="time" class="time-list">
        <option value="09:00">9:00 AM</option>
        <option value="12:00">12:00 PM</option>
      </select>
    </div>
    <div class="modal__btns">
      <button class="modal__btns__book">Book</button>
      <button class="modal__btns__cancel">Cancel</button>
    </div>
    <div class="modal__message">
      <p class="modal__offLine">Currently offline. Call 555-98764.</p>
    </div>
  </div>
  <div class="overlay hidden"></div>
</body>

</html>