.movie {
  border-radius: 8px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  margin: 2rem 10rem;
  max-width: 800px;
  display: flex;
  gap: 5rem;

  &__container {
    display: flex;
    flex-direction: column;
    padding-right: 2rem;
  }

  h1 {
    font-size: 24px;
    margin-bottom: 10px;
    color: #d1d1d1;
  }

  &__intro {
    color: #d1d1d1;
    font-size: 16px;
    line-height: 1.5;
    margin-bottom: 15px;
  }

  img {
    max-width: 400px;
    height: auto;
    border-radius: 5px;
  }
}
