* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Roboto", sans-serif;
}

.sidebar {
    position: sticky;
    height: 0;
    left: 0;
    top: 25%;
    transform: translateY(-25%);
    margin-bottom: 50dvh;
    margin-right: -200px;
    z-index: 10;
    &__container {
        display: flex;
        align-items: center;
        width: 200px;
        background-color: #464646;
        transform: translateX(-90%);
        transition: 0.25s ease-in-out;
        height: 50dvh;
        border-radius: 0 10px 10px 0;
    }
    &__container--open {
        transform: translateX(0%);
    }
    &__list {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: space-evenly;
        width: 100%;
        height: 100%;
        padding: 1rem;
        list-style: none;
    }
    &__list-item {
        color: white;
        font-size: 1.5rem;
        font-weight: bold;
        transition: 0.1s ease-in-out;
        cursor: pointer;
        &:hover {
            scale: 1.1 1;
            color: #ffa500;
        }
    }
    &__list-item--active {
        color: #ffa500;
        scale: 1.1 1;
    }
    &__search-input {
        display: none;
    }
    &__search-input--open {
        display: block;
        height: 2rem;
        border-radius: 5px;
        border: none;
        width: 100%;
        padding: 0.5rem;
        font-size: 1.5rem;
        color: #1a1a1a;
        &:focus {
            outline: none;
        }
    }
    &__search-icon {
        width: auto;
        font-size: 1.5rem;
        align-self: flex-end;
        text-align: center;
        margin: 0 auto;
        height: 31px;
        &:hover {
            color: #ffa500;
        }
    }
    &__search-icon--hidden {
        display: none !important;
    }
    &__toggle-menu {
        color: white;
        font-size: 2rem;
        cursor: pointer;
        &:hover {
            color: #ffa500;
        }
    }
}

$mobile: 552px;

@mixin breakpoint($point) {
    @media screen and (max-width: $point) {
        @content;
    }
}

body {
    margin: 0;
    font-style: roboto;
}

.container {
    margin: 0 auto;
}

.moviesMain {
    background-color: #000000;
    display: flex;
}

.allMovies {
    display: flex;
    flex-wrap: wrap;
    gap: 2rem;
    justify-content: center;
    max-width: 1200px;
    margin-bottom: 100px;
    
    @include breakpoint($mobile) {
        justify-content: center;
    }

    &__title {
        color: whitesmoke;
        font-size: 2rem;
        font-weight: 900;
        padding: 1rem 1rem;
        text-align: center;
    }
    .movie--hidden {
        display: none;
    }
}

.movieTemplate {
    &__card {
        background-color: #464646;
        border-radius: 5px;
        box-shadow: 0 0 10px rgba(255, 255, 255, 0.2);
        color: whitesmoke;
        display: grid;
        font-family: roboto;
        grid-template-columns: repeat(10, 10%);
        grid-template-rows: repeat(10, 10%);
        height: 400px;
        overflow: hidden;
        text-shadow: 2px 2px 2px rgba(#000000, 0.4);
        width: 250px;
        min-width: 250px;

        &:hover .movieTemplate__cover {
            transform: translateY(-100%);
        }
    }

    &__cover {
        background-position: center;
        background-repeat: no-repeat;
        background-size: cover;
        grid-column: 1 / span 10;
        grid-row: 1 / span 10;
        transition: transform 0.5s ease-in-out;
        z-index: 1;

        @include breakpoint($mobile) {
            display: none;
        }
    }

    &__img {
        background-position: center;
        background-size: cover;
        grid-column: 1 / span 10;
        grid-row: 1 / span 5;
    }

    &__title {
        font-size: 1rem;
        grid-column: 1 / span 10;
        grid-row: 6 / span 1;
        margin: 1rem 0 0 0.8rem;
        line-height: 0.9rem;
    }

    &__ageLimit {
        align-self: end;
        color: #ffa500;
        font-size: 0.8rem;
        font-weight: bold;
        grid-column: 6 / span 5;
        grid-row: 7 / span 1;
        justify-self: end;
        margin: 0 0.8rem 1rem 0;
    }

    &__category {
        align-self: end;
        color: rgb(168, 167, 167);
        grid-column: 1 / span 5;
        grid-row: 7 / span 1;
        margin: 0 0 0.8rem 0.8rem;
    }

    &__description {
        align-self: start;
        font-size: 0.8rem;
        font-weight: bold;
        grid-column: 1 / span 10;
        grid-row: 8 / span 2;
        justify-self: start;
        margin: 0 0.8rem 0 0.8rem;
    }

    &__button {
        align-self: end;
        background-color: #ffa500;
        border: none;
        border-radius: 3px;
        box-shadow: 0 0 2px rgba(0, 0, 0, 0.2);
        color: whitesmoke;
        cursor: pointer;
        font-weight: bold;
        grid-column: 5 / span 6;
        grid-row: 10 / span 1;
        height: 30px;
        justify-self: end;
        margin: 0 10px 10px 0px;
        text-shadow: 1px 1px 0px rgba(#000000, 0.5);
        width: 120px;

        &:hover {
            background-color: #ffa600de;
        }
        &:active {
            background-color: #ffa500;
        }
    }
}