<main>
  <section class="viewTop3">
    <h1 class="viewTop3__title">TOPP 3</h1>
    <div class="viewTop3__container"></div>
    <button class="viewTop3__btn">
      <a href="/movies">Se alla filmer</a>
    </button>
  </section>
  <section class="viewCurrent">
    <h1 class="viewCurrent__title">AKTUELLA</h1>
    <div class="viewCurrent__carousel">
      <button class="viewCurrent__carouselPrev"><i class="fas fa-arrow-left"></i></button>
      <div class="viewCurrent__container"></div>
      <button class="viewCurrent__carouselNext"><i class="fas fa-arrow-right"></i></button>
    </div>
    <button class="viewCurrent__btn">
      <a href="/movies">Se alla filmer</a>
    </button>
  </section>

  <!-- Coming movies section should be the last section! -->

  <section class="comingMovies">
    <h1 class="commingMovies__title">Kommande filmer</h1>
    <div class="comingMovies__Container"></div>
    <!--coming movies is created in coming__movies__Container. -->
    <button class="viewCurrent__btn">
      <a href="/movies">Se alla filmer</a>
    </button>
  </section>
</main>