* {
    font-size: 100%;
    margin: 0;
    
}
.mainHeader {
    background-color: #800020;
    height:10em;
    display: flex;
    flex-flow: column;
    align-items: end;
    .mainHeader__div {
        width: 100%;
        background-color: black;
        height: 2em;
    }
    .mainHeader__nav {
        margin-top: 5em;
        min-width: 60%;
               
        .mainHeader__nav__ul {
            min-width: 60%;
            list-style: none;
            display: flex;
            gap: 8em;
        }
        li {
                a {
                font-size: 1.4em;
                text-decoration: none;
                color: white;
            }
    }
    }
    }